@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="dashboard-content" style="margin-left: 250px; padding-top: 100px;">
    <div class="container-fluid">
        <div class="row g-4 px-4">

            <div class="col-md-4">
                <div class="card bg-light shadow">
                    <div class="card-body text-center">
                        <div class="stat-label h5"> Total Books</div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card bg-light shadow">
                    <div class="card-body text-center">
                        <div class="stat-label h5"> Available Books</div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card bg-light shadow">
                    <div class="card-body text-center">
                        <div class="stat-label h5"> Borrowed Books</div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card bg-light shadow">
                    <div class="card-body text-center">
                        <div class="stat-label h5"> Overdue Books</div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card bg-light shadow">
                    <div class="card-body text-center">
                        <div class="stat-label h5"> Past Papers</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

