@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<LibraryManagementSystem.Models.Loan>

    <div class="container-md">
        <h3 class="mb-4">My Borrowed Books</h3>

        @if (!Model.Any())
        {
            <p>You currently have no borrowed books.</p>
        }
        else
        {
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Borrowed On</th>
                        <th>Due Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var loan in Model)
                    {
                        <tr>
                            <td>@loan.Book.Title</td>
                            <td>@loan.LoanDate.ToShortDateString()</td>
                            <td>@loan.DueDate.ToShortDateString()</td>
                        </tr>
                    }
                </tbody>
            </table>
        }

    </div>