@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model LibraryManagementSystem.ViewModels.BorrowBookViewModel

<h2>My Borrowed Books</h2>

@if (Model.Loans != null && Model.Loans.Any())
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Title</th>
                <th>Loan Date</th>
                <th>Due Date</th>
                <th>Returned</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var loan in Model.Loans)
            {
                <tr>
                    <td>@loan.Book?.Title</td>
                    <td>@loan.LoanDate.ToShortDateString()</td>
                    <td>@loan.DueDate.ToShortDateString()</td>
                    <td>@(loan.ReturnDate != null ? loan.ReturnDate?.ToShortDateString() : "Not Returned")</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>You haven't borrowed any books yet.</p>
}


