@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="dashboard-content" style="margin-left: 250px; padding-top: 100px;">
    <div class="container-fluid">
        <div class="row g-4 px-4">
            <div class="col-md-4">
                <div class="card bg-light shadow">
                    <div class="card-body text-center">
                        <div class="stat-label h5"> MyBorrowedBooks</div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card bg-light shadow">
                    <div class="card-body text-center">
                        <div class="stat-label h5">MyHistory</div>
                    </div>
                </div>
            </div>

        </div>
     </div>
</div>